@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

<div class="text-center container">
	<div class="row">
		<div class="col-12 d-flex flex-column justify-content-center">
			<h1 class="mb-2">Welocme to Pizza shop</h1>
			<p>Razor sharp pages, is the pizza for you and me!</p>
			<img class="mainImage rounded mx-auto d-block shadow-lg mb-5 bg-white rounded-2" src="~/Images/PizzaTime.jpg" />
			<button class="btn btn-primary button"><a class="nav-link text-light" asp-area="" asp-page="/Pizza">Jump into the store</a></button>
			
		</div>
	</div>

</div>
